body{
    font-family: 'Poppins', sans-serif !important;
    margin: 20px 20px;
    padding: 0;
    background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    background: linear-gradient(-135deg, #c850c0, #4158d0);
}

/*-----------Navigation---------*/
#nav-bar{
    margin: 20px 20px;
    
    
}

.navbar-brand img{
    height: 60px;
    margin-left: 30px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    float: right;
    text-align: left;
    font-size: 14px;
    font-weight: 500; 
    color: #ffffff !important;  
}

#nav-bar ul li a:hover{
    color: chartreuse;
}

.nav-link{
    color: #ffffff;
}

#nav-bar span{
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
}

/*---------------pannel-----------*/

.wrap-login100 {
    width: 960px;
    height: auto;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    margin-top: 110px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }

  .mov{
      margin-top: 50px;

  }
  .inside_form{
      margin: 20px 60px;
      font-size: 15px;
      font-weight: 200;
  }
  .para{
      font-size: 20px;
    font-family: 'Poppins', sans-serif;
      font-weight: 700 !important;
      margin-bottom: 20px;
  }
  .btn_submit{
      margin-top: 30px;
      margin-left: 0px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }